<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4reTvJM4xWaRyMQAeks12Xd9b8dJJE9g</string>
	<key>GCM_SENDER_ID</key>
	<string>861627637650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dabiez.Dabie-iOS</string>
	<key>PROJECT_ID</key>
	<string>dabiez-97e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>dabiez-97e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861627637650:ios:07286e4680b9fef5b3ab4b</string>
</dict>
</plist>